<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="style.css">
    <!-- <style>
        body{
    background-color: pink;

}
img{
    height: 100px;
    width: 100px;
} -->
    </style>
</head>
<body>
    <h1>THIS PAGE BELONGS TO @ <%= data .name%></h1>
    <BUtton>Follow</BUtton>
    <button>Message</button>

    <p>Follower :<%= data.followers %> &nbsp;&nbsp;&nbsp;Following :<%= data.following %></p>

    <hr>

    <% for(let post of data.posts){ %>
        <img src="<%= post.image %>" alt="some image">
        <p>liked:<%= post.likes %> &nbsp;&nbsp;&nbsp;comments :<%= post.comments %></p>

    <% } %>
</body>
</html> 